$red: rgb(226, 72, 72);
$darlred:rgb(179, 72, 72);
$green: rgb(80, 185, 5);
$darkgreen: rgb(71, 158, 9);
$blue: rgb(47, 130, 245);
$darkblue: rgb(33, 97, 186);
$yellow: rgb(255, 225, 0);
$darkyellow: rgb(196, 175, 12);
$primary-color: #36c3d5;
$secondary-color: #2e5b4f;
$hover-color: #15a5b8;
$text-color: #ffffff;
$maxWidth : min(1200px ,95vw)